body {
background-color:whitesmoke;

}

header{
 color: #ffffff;
 padding: 8px;
text-align: center;
font-size: 30px;
font-family: monospace;
background-color: black;
}

section{
font-family: monospace;
color: black;
background-color: rgb(200, 200, 214);
padding: 20px;

}
#req{
margin-top: -170px;


}
.job{
font-family:monospace;
background-color: rgb(209, 224, 202);
padding: 50px;
}


#img1 {
   margin-left: 765px;
   border: 10px;
   border-color: black;
}

.test {
    font-family:monospace;
    background-color: rgb(233, 200, 215);
    padding: 40px;
    text-align: center;
    margin-right: auto;
    font-size: 16px;
}
#test2{

text-align: middle;
margin-top: 400px;
font-size: 16px;    
}

#testimg1{
margin-top: -1450px;
margin-left: 0px;

}

#testimg2{
margin-top:-935px;
margin-left: 1050px;
}

#testimg3{
margin-top: 260px;
margin-left: 1180px;

}

#ocean{
text-align: middle;
margin-top: 300px;

}

#learning{
text-align: middle;
margin-top: 100px;


}
